.blockCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}